[submodule "CSC"]
	path = CSC
	url = https://github.com/fusiyuan2010/CSC.git
[submodule "FastARI"]
	path = FastARI
	url = https://github.com/davidcatt/FastARI.git
[submodule "FastLZ"]
	path = FastLZ
	url = https://github.com/ariya/FastLZ.git
[submodule "bzip2"]
	path = bzip2
	url = https://github.com/asimonov-im/bzip2.git
[submodule "density"]
	path = density
	url = https://github.com/centaurean/density.git
	branch = dev
[submodule "doboz"]
	path = doboz
	url = https://github.com/nemequ/doboz.git
[submodule "gipfeli"]
	path = gipfeli
	url = https://github.com/google/gipfeli.git
[submodule "heatshrink"]
	path = heatshrink
	url = https://github.com/atomicobject/heatshrink.git
[submodule "libbsc"]
	path = libbsc
	url = https://github.com/IlyaGrebnov/libbsc.git
[submodule "liblzf"]
	path = liblzf
	url = https://github.com/nemequ/liblzf.git
[submodule "liblzg"]
	path = liblzg
	url = https://github.com/mbitsnbites/liblzg.git
[submodule "libzling"]
	path = libzling
	url = https://github.com/richox/libzling.git
[submodule "lzham_codec_devel"]
	path = lzham_codec_devel
	url = https://github.com/richgel999/lzham_codec_devel.git
[submodule "lzmat"]
	path = lzmat
	url = https://github.com/nemequ/lzmat.git
[submodule "lzo"]
	path = lzo
	url = https://github.com/nemequ/lzo.git
[submodule "ms-compress"]
	path = ms-compress
	url = https://github.com/coderforlife/ms-compress.git
[submodule "pithy"]
	path = pithy
	url = https://github.com/johnezang/pithy.git
[submodule "quicklz"]
	path = quicklz
	url = https://github.com/robottwo/quicklz.git
[submodule "snappy-c"]
	path = snappy-c
	url = https://github.com/andikleen/snappy-c.git
[submodule "tornado"]
	path = tornado
	url = https://github.com/nemequ/tornado.git
[submodule "wflz"]
	path = wflz
	url = https://github.com/ShaneWF/wflz.git
[submodule "yalz77"]
	path = yalz77
	url = https://github.com/ivan-tkatchev/yalz77.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "zopfli"]
	path = zopfli
	url = https://github.com/google/zopfli.git
[submodule "zpaq"]
	path = zpaq
	url = https://github.com/zpaq/zpaq.git
[submodule "shoco"]
	path = shoco
	url = https://github.com/Ed-von-Schleck/shoco.git
[submodule "TurboRLE"]
	path = TurboRLE
	url = https://github.com/powturbo/TurboRLE.git
[submodule "LZSSE"]
	path = LZSSE
	url = https://github.com/ConorStokes/LZSSE.git
[submodule "xpack"]
	path = xpack
	url = https://github.com/ebiggers/xpack.git
[submodule "lzfse"]
	path = lzfse
	url = https://github.com/lzfse/lzfse.git
[submodule "lizard"]
	path = lizard
	url = https://github.com/inikep/lizard.git
[submodule "FPC"]
	path = FPC
	url = https://github.com/algorithm314/FPC.git
[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4
[submodule "snappy"]
	path = snappy
	url = https://github.com/google/snappy
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd
[submodule "brieflz"]
	path = brieflz
	url = https://github.com/jibsen/brieflz
[submodule "isa-l"]
	path = isa-l
	url = https://github.com/01org/isa-l
[submodule "libdeflate"]
	path = libdeflate
	url = https://github.com/ebiggers/libdeflate
[submodule "miniz"]
	path = miniz
	url = https://github.com/richgel999/miniz
[submodule "pysap"]
	path = pysap
	url = https://github.com/SecureAuthCorp/pysap
[submodule "rans_static"]
	path = rans_static
	url = https://github.com/jkbonfield/rans_static
[submodule "zlib-ng"]
	path = zlib-ng
	url = https://github.com/Dead2/zlib-ng
[submodule "c-blosc2"]
	path = c-blosc2
	url = https://github.com/Blosc/c-blosc2
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli.git
[submodule "fast-lzma2"]
	path = fast-lzma2
	url = https://github.com/conor42/fast-lzma2
[submodule "lzma"]
	path = lzma
	url = https://github.com/sisong/lzma
