[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli.git
[submodule "brieflz"]
	path = brieflz
	url = https://github.com/jibsen/brieflz.git
[submodule "CSC"]
	path = CSC
	url = https://github.com/fusiyuan2010/CSC.git
[submodule "FastARI"]
	path = FastARI
	url = https://github.com/davidcatt/FastARI.git
