# Include the additional files
include ChangeLog.md
include COPYING
include README.md
include SECURITY.md

include requirements.txt
include requirements-docs.txt
include requirements-examples.txt

# Include header files
include pysapcompress/*.h

# Include the docs
recursive-include docs *

# Include the extra scripts
recursive-include extra *.py

# Include the example scripts
recursive-include examples *
